{% extends 'base.html.twig' %}

{% block title %}Editing Comment{% endblock %}

{% block body %}

	{# Shrink the post content area if the post is really short. #}
	{% if post.content|length <= 10000 %}
		<div class="wrapper">
	{% endif %}
	{# ### #}

	{{ form_start(form) }}
	<div class="write_comment">
		{{ form_errors(form.content) }}
		{{ form_widget(form.content, {attr: {class: 'highlighted editing short', placeholder: 'comment.edit.placeholder'}}) }}
		<button type="submit"><span>Submit </span>✔</button>
	</div>
	{{ form_end(form) }}

	<div class="box no-margin" id="post_content">

	<div class="article">

		<h1>{{ post.title }}</h1>

		<nav>
			<ul>
				<li>
					<a href="{{ path('view_profile', {'user_id': post.user.id}) }}" rel="author">
						{% trans with {'{username}': '</span>' ~ post.user.username ~ '</span>'} %}
							Written by {username}
						{% endtrans %}
					</a>
				</li>
				<li>
					<time>{{ post.timestamp|date("Y-m-d H:i:s")|ago }}</time>
				</li>

				{% if app.user and app.user.id == post.user.id
					or (is_granted('ROLE_ADMIN') or (is_granted('ROLE_MODERATOR') and not post.user.hasRole('ROLE_ADMIN'))) %}
					<li>
						<a href="{{ path('edit_post', {'post_id': post.id}) }}" class="edit">{{ 'Edit'|trans }}</a>
					</li>
					<li>
						<a href="{{ path('delete_post', {'post_id': post.id, 'csrf_token': csrf_token('delete-post-' ~ post.id)}) }}"
						   class="delete">{{ 'Delete'|trans }}</a>
					</li>
				{% endif %}
			</ul>
		</nav>

		{{ post.content|markdown }}

	</div>

	{# Shrink the post content area if the post is really short. #}
	{% if post.content|length <= 10000 %}
	</div>
	{% endif %}
	{# ### #}

	<hr>

	<div class="wrapper">

		{% for comment in comments|reverse %}
			{% if not comment.deleted %}
				<div class="comment box">

					<nav>
						<ul>
							<li>
								<a href="{{ path('view_profile', {'user_id': comment.user.id}) }}" rel="author">
									{% trans with {'{username}': '</span>' ~ comment.user.username ~ '</span>'} %}
										Written by {username}
									{% endtrans %}
							</li>
							<li>
								<time>{{ comment.timestamp|date("Y-m-d H:i:s")|ago }}</time>
							</li>

							{% if app.user and app.user.id == comment.user.id
								or (is_granted('ROLE_ADMIN') or (is_granted('ROLE_MODERATOR') and not comment.user.hasRole('ROLE_ADMIN'))) %}
								<li>
									<a href="{{ path('edit_comment', {'comment_id': comment.id}) }}"
									   class="edit">{{ 'Edit'|trans }}</a>
								</li>
								<li>
									<a href="{{ path('delete_comment', {'comment_id': comment.id, 'csrf_token': csrf_token('delete-comment-' ~ comment.id)}) }}"
									   class="delete">{{ 'Delete'|trans }}</a>
								</li>
							{% endif %}
						</ul>
					</nav>

					<div class="sidebar">
						<a href="{{ path('view_profile', {'user_id': comment.user.id}) }}" rel="author">
							<img
								src="https://www.gravatar.com/avatar/{{ comment.user.email|lower|md5 }}?r=pg&amp;d=retro&amp;s=100"
								alt="">
							{{ comment.user.username }}
						</a>
					</div>
					<div class="comment_area">
						{{ comment.content|markdown }}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}