<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>{% block title %}{{ 'A Community for Thinkers'|trans }}{% endblock %} &nbsp;⏐:&nbsp; Muse</title>

	<link href="{{ asset('./build/app.css') }}" rel="stylesheet">
	{% block css %}{% endblock %}
</head>
<body>

<section id="sidebar">
	<input type="checkbox">
	<span>≡</span>
	<nav>
		<a href="{{ path('homepage') }}">Please select a category:</a>
		<ul>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'philosophy'}) }}"
				   class="sidebar_link category_philosophy">{{ 'Philosophy'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'science'}) }}"
				   class="sidebar_link category_science">{{ 'Science'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'technology'}) }}"
				   class="sidebar_link category_technology">{{ 'Technology'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'innovation'}) }}"
				   class="sidebar_link category_innovation">{{ 'Innovation'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'strategy'}) }}"
				   class="sidebar_link category_strategy">{{ 'Strategy'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'politics'}) }}"
				   class="sidebar_link category_politics">{{ 'Politics'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'philosophy'}) }}"
				   class="sidebar_link category_religion">{{ 'Religion'|trans }}</a>
			</li>
			<li>
				<a href="{{ path('view_posts', {'supercategory': 'society'}) }}"
				   class="sidebar_link category_society">{{ 'Society'|trans }}</a>
			</li>
		</ul>

		<footer>
			<ul>
				<li><a href="">{{ 'About'|trans }}</a></li>
			</ul>
		</footer>
	</nav>
</section>


<section id="main">
	<header>

		{% if app.user %}

			<div id="site_title" style="visibility:hidden"><a href="{{ path('homepage') }}">Muse</a></div>

			{% if app.user and app.request.get('_route') != 'new_post' %}
				<a class="top" href="{{ path('new_post') }}">{{ 'Write a Post'|trans }}</a>
			{% endif %}

			<div id="user_info">
				<span>{{ 'Logged in'|trans }} &nbsp;&rsaquo;&nbsp;</span>
				<a href="{{ path('edit_profile') }}">
					{{ app.user.username }}
					<img src="https://www.gravatar.com/avatar/{{ app.user.email|lower|md5 }}?r=pg&amp;d=retro&amp;s=30"
						 alt="">
				</a>
			</div>

		{% else %}

			<div id="site_title"><a href="{{ path('homepage') }}">Muse</a></div>

			{% if app.request.get('_route') != 'register' %}
				<a class="top" href="{{ path('register') }}">{{ 'Create an Account'|trans }}</a>
			{% endif %}


			<form action="{{ path('login') }}" method="post">
				<button type="submit" tabindex="3">Login &nbsp;&rsaquo;&nbsp;</button>

				<label for="username">{{ 'Username'|trans }}</label>
				<input type="text"
					   id="username"
					   name="_username"
					   value=""
					   placeholder="{{ 'Username'|trans }}"
					   tabindex="1"
					   required>

				<label for="password">{{ 'Password'|trans }}</label>
				<input type="password"
					   id="password"
					   name="_password"
					   placeholder="{{ 'Password'|trans }}"
					   tabindex="2"
					   required>
			</form>

		{% endif %}

	</header>

	<div id="loading_icon">
		<div></div>
		<div></div>
	</div>

	<main>
		<div class="wrapper">
			{% for type, messages in app.flashes(['success', 'alert', 'error']) %}
				{% for message in messages %}
					<div class="{{ type }} message">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
		</div>

		{% block body %}{% endblock %}
	</main>

	<footer>
		Muse &copy; 2020<br>

		{{ 'Edit'|trans }}

		{% trans with {'{Nathanael}': '<a href="http://nathanael.shermett.me" target="Nathanael">Nathanael Shermett</a>'} %}
			Designed and developed by {Nathanael}
		{% endtrans %}

		<br>

		{% trans with {'{Icons8}': '<a href="https://icons8.com" target="Icons8">Icons8</a>'} %}
			Icons provided by {Icons8}
		{% endtrans %}

		<br>

		{% trans with {'{GitHub}': '<a href="https://github.com/Nathanael-Shermett/Muse" target="GitHub">GitHub</a>'} %}
			Contribute to Muse on {GitHub}!
		{% endtrans %}


	</footer>
</section>

<script src="{{ asset('./build/app.js') }}"></script>

{% block js %}{% endblock %}

</body>
</html>