{% extends 'base.html.twig' %}

{% block title %}Account Settings{% endblock %}

{% block body %}

	<div class="wrapper">
		{{ form_start(form) }}

		{{ form_errors(form.currentPassword) }}
		{{ form_widget(form.currentPassword, {attr: {placeholder: form.currentPassword.vars.label}}) }}

		<hr>

		{{ form_errors(form.username) }}
		{{ form_widget(form.username, {attr: {placeholder: form.username.vars.name|humanize}}) }}

		{{ form_errors(form.email) }}
		{{ form_widget(form.email, {attr: {placeholder: form.email.vars.name|humanize}}) }}

		{{ form_errors(form.plainPassword.first) }}
		{{ form_widget(form.plainPassword.first, {attr: {placeholder: form.plainPassword.first.vars.label}}) }}

		{{ form_errors(form.plainPassword.second) }}
		{{ form_widget(form.plainPassword.second, {attr: {placeholder: form.plainPassword.second.vars.label}}) }}

		{% if app.user.id != user.id
			and (app.user.hasRole('ROLE_ADMIN')
			or  (app.user.hasRole('ROLE_MODERATOR') and not user.hasRole('ROLE_MODERATOR'))) %}
			{{ form_errors(form.role) }}
			{{ form_widget(form.role) }}
		{% else %}

			{# Ensure the user is a moderator. If they are not, then the role field does not even exist. #}
			{% if app.user.hasRole('ROLE_MODERATOR') %}

				{# Prevent the form field from rendering. #}
				{% do form.role.setRendered() %}

			{% endif %}
		{% endif %}

		<button type="submit">Update Account</button>

		{% if app.user.id == user.id %}
			<hr>

			<div id="edit_avatar">
				<div>
					<p>To display your profile picture, Muse uses the public Gravatar associated with your email
						address.
						Your email address is:</p>

					<p class="email">{{ app.user.email }}</p>

					<p>If you want to change it, simply click on your current profile picture (to the right) and set up
						your
						Gravatar account.</p>

				</div>
				<a href="https://gravatar.com" title="Gravatar for {{ app.user.email }}" target="Gravatar">
					<img src="https://www.gravatar.com/avatar/{{ app.user.email|lower|md5 }}?r=pg&amp;d=retro&amp;s=256"
						 alt="">
				</a>
			</div>
		{% endif %}

		{{ form_end(form) }}

		{% if app.user.id == user.id %}
			<hr>

			<form action="{{ path('logout') }}">
				<button type="submit">Logout</button>
			</form>

		{% endif %}
	</div>

{% endblock %}