{% extends 'base.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}

	<div class="wrapper">
		<div class="box no-margin">
			<div class="profile">
				<h1>{{ user.username }}</h1>
				<div id="avatar">
					<img src="https://www.gravatar.com/avatar/{{ user.email|lower|md5 }}?r=pg&amp;d=retro&amp;s=256"
						 title="{{ user.username }}" alt="">
				</div>

				<div id="member_since">Member since
					<time>{{ user.userSince|date('F j, Y') }}</time>
				</div>

				{% if user.comments|length > 0 %}

					<h2>Comments</h2>
					<table>
						<tr>
							<th style="min-width:150px; width:20%;">
								Original Thread
							</th>
							<th style="min-width:200px; width:30%;">
								Date Posted
							</th>
							<th>
								Abstract
							</th>
						</tr>

						{% for comment in user.comments|reverse %}
							{% if not comment.post.deleted and not comment.deleted %}
								<tr>
									<td>
										<a class="cover_row"
										   href="{{ path('view_post', {'post_id' : comment.post.id}) }}"
										></a>
										{{ comment.post.title }}
									</td>
									<td>
										<time>{{ comment.timestamp|date('F j, Y') }}</time>
									</td>
									<td class="truncate">{{ comment.content|markdown|striptags|raw }}</td>
								</tr>
							{% endif %}
						{% endfor %}

					</table>

				{% endif %}

			</div>
		</div>
	</div>

	{% if user.posts|length > 0 %}
		<div class="wrapper">
			<hr>
			<div id="masonry">
				{% for post in user.posts|reverse %}
					{% if not post.deleted %}
						{% include 'main/card.html.twig' %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock %}